@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Montserrat', sans-serif;
	}
}
@layer base {
	select {
		appearance: none;
		background-color: transparent;
		margin: 0;
		width: 100%;
		font-family: inherit;
		font-size: inherit;
		cursor: inherit;
		line-height: inherit;
	}
	select::-ms-expand {
		display: none;
	}
}

@layer components {
	@responsive {
		.title {
			@apply text-4xl text-blue-darkest mb-3;
		}
		.title-sm {
			@apply text-2xl text-blue-darkest mb-1;
		}
		.text-xxxs {
			font-size: 8px;
		}
		.text-xxs {
			font-size: 10px;
		}
	}
	.box {
		@apply bg-white rounded-2xl shadow-lg p-4 flex flex-col items-center mb-4;
	}
	.skeleton {
		@apply animate-pulse bg-gray-300 rounded;
	}
	.form-input-label-top:placeholder-shown + .form-label {
		opacity: 0;
		visibility: hidden;
		transform: translate(0.5rem, 2rem);
	}
	.form-input-label-bottom:placeholder-shown + .form-label {
		opacity: 0;
		visibility: hidden;
		transform: translate(0.5rem, -2rem);
	}
	.form-input::placeholder {
		letter-spacing: normal;
	}
}
